{% extends 'portscan/base.html' %}
{% block title %}Lipan - Scan Results Details{% endblock %}
{% block body %}


<h1> Results</h1>
<h3>{{ scanlist.name }} - {{ scanlist.ip }}</h3>



<ul>
    {% for x in ScanResults.PortResult_set.all %}
    <li>{{scanlist.PortResult}}</li>
    {% endfor %}
</ul>

<ul>
    <li>test {{ PortResult.portNumber }} </li>
    {% for a in scanlist.a_set.all %}
    <li>aaa {{ PortResult.portNumber }} </li>
    {% endfor %}
</ul>


{{ scanlist.PortResult.portNumber }} | {{ PortResult.state }}  | {{ PortResult.service }}  | {{ PortResult.latency }}  | {{ PortResult.port_type }}

{% endblock %}
