{% extends 'portscan/base.html' %}
{% block title %}{{scan}}{% endblock %}
{% block body %}

<div class="container-fluid songs-container">

    <div class="row">

        <!-- Left Album Info -->
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="{% url 'portscan:detail' scan.id %}">
                        <h1>{{ scan.ip}}</h1>
                    </a>
                    <h2>{{ scan.name }}</h2>
                    <hr>
                    <p>User: {{ scan.user }}</p>
                    <p>Date: {{ scan.date }}</p>
                    <p>First Port: {{ scan.firstport }}</p>
                    <p>Last Port: {{ scan.lastport }}</p>
                    <hr>
                    <button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button>
                    <button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><span class="glyphicon glyphicon-trash"></span></button>
                </div>
            </div>
        </div>

        <!-- Right Song Info -->
        <div class="col-sm-8 col-md-9">

            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation" class="active"><a href="{% url 'portscan:detail' scan.id %}">View All</a></li>

            </ul>

            <div class="panel panel-default">
                <div class="panel-body">

                    <h3>Scan Results by Port</h3>

                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}

                    <table class="table">
                      <thead>
                      <tr>
                          <th>Port Number</th>
                          <th>State</th>
                          <th>Service</th>
                          <th>Latency</th>
                          <th>Port Type</th>
                      </tr>
                      </thead>
                      <tbody>
                      {% for portresult in scan.portresult_set.all %}
                          <tr>
                              <td>{{ portresult.portNumber }}</td>
                              <td>{{ portresult.state }}</td>
                              <td>{{ portresult.service }}</td>
                              <td>{{ portresult.latency }}</td>
                              <td>{{ portresult.port_type }}</td>
                          </tr>
                      {% endfor %}
                      
                      </tbody>
                  </table>
                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}
